html.dark {
    --el-color-success: var(--el-color-success-light-3);
    --el-color-danger: var(--el-color-danger-light-3);
    --el-color-warning: var(--el-color-warning-light-3);
    --el-color-info: var(--el-color-info-light-3);
    --el-color-primary: var(--el-color-primary-light-3);
}
